table,form{	
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
}
table{
	border: 1px solid cadetblue;
	width: 600px;
	margin-top: -300px;
	margin-left: -300px;
}
form{
	width: 300px;
	margin-top: -300px;
	margin-left: -150px;
}
td{
	border: 1px solid cadetblue;
	text-align: center;
}
div{
	margin-bottom: 15px;
}
